/* Variables*/
body {
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body.darkmode {
  background-color: #212121;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body.darkmode .navigation-wrapper {
  background-color: #212121;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body.darkmode .navigation-item,
body.darkmode .site-logo,
body.darkmode .site-slogan {
  color: white;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

body.darkmode .darkmode-button.set-dark {
  display: none;
}

body.darkmode .darkmode-button.set-light {
  display: block;
}

.navigation-wrapper {
  height: 100%;
  padding: 25px;
  position: fixed;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.site-logo {
  display: inline-block;
  color: #000;
}

.site-logo:hover {
  cursor: pointer;
}

.site-logo > span:first-child {
  font-size: 30pt;
  /*font-family: 'Source Serif Pro', serif;
        font-family: 'Quicksand', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 25pt;
  background: -webkit-gradient(linear, left top, right top, from(#388eff), to(#fa7f7f));
  background: linear-gradient(90deg, #388eff 0%, #fa7f7f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fixed.site-logo {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1001;
}

.navigation-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.navigation-item {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  color: #000;
  display: inline-block;
  padding: 8px 0;
  cursor: pointer;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  border-top: 1px solid #dddddd;
  width: 110px;
}

.navigation-item:first-child {
  border-top: none;
}

.navigation-item:last-child {
  border-bottom: 1px solid #dddddd;
}

.navigation-item:hover {
  color: #0B52B0;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.site-slogan {
  font-size: 7pt;
  line-height: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: inline-block;
  color: #000;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.landing-page-wrapper {
  position: relative;
  width: calc(100% - 325px);
  background-color: #388eff;
  background: -webkit-gradient(linear, left top, right top, from(#43a1ff), color-stop(38%, #388eff), to(#fa7f7f));
  background: linear-gradient(90deg, #43a1ff 0%, #388eff 38%, #fa7f7f 100%);
  overflow: hidden;
  margin-left: 300px;
  margin-top: 25px;
  border-radius: 3px;
}

.landing-page-left-side {
  width: 50%;
  height: 100%;
  /*background-color: #f0f8ff;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-page-right-side {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

.landing-page-image {
  background-image: url("../imgs/4-format2020.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingpage-banner-wrapper {
  height: 60vh;
  width: 100%;
}

.title-font {
  color: #2b2b2b;
  font-size: 5.5vw;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.landing-page-wrapper .title-font {
  color: white;
}

img.background-3-b {
  position: absolute;
  z-index: 0;
  height: 80vh;
  left: -135px;
  bottom: -150px;
  opacity: 0.7;
}

.darkmode-button-wrapper {
  position: absolute;
  bottom: 25px;
  left: 25px;
  height: 20px;
  width: 20px;
}

.darkmode-button-wrapper .darkmode-button {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-size: cover;
  position: absolute;
}

.darkmode-button-wrapper .darkmode-button.set-dark {
  background-image: url("../imgs/moon.png");
}

.darkmode-button-wrapper .darkmode-button.set-light {
  background-image: url("../imgs/sun.png");
  -webkit-filter: invert(1);
          filter: invert(1);
  display: none;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }
  .mobile-navigation-banner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 12px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
  }
  .darkmode .mobile-navigation-banner {
    background-color: #212121;
  }
  .navigation-wrapper {
    height: calc(100% - 60px);
    width: 200px;
    left: -200px;
    top: 60px;
  }
  .navigation-wrapper .site-logo {
    display: none;
  }
  .menu-active .navigation-wrapper {
    left: 0;
  }
  .landing-page-wrapper {
    width: calc(100% - 50px);
    margin-left: 25px;
  }
  .mobile-burger-menu {
    display: inline-block;
    margin-top: -4px;
    margin-right: 20px;
  }
  .mobile-burger-menu .line {
    width: 30px;
    height: 4px;
    background-color: black;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .mobile-burger-menu:hover {
    cursor: pointer;
  }
  .mobile-burger-menu.is-active .line:nth-child(2) {
    opacity: 0;
  }
  .mobile-burger-menu.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  .mobile-burger-menu.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
  }
  .darkmode .mobile-burger-menu .line {
    background-color: white;
  }
  img.background-3-b {
    height: 60vh;
  }
  .landing-page-left-side,
  .landing-page-right-side {
    width: 100%;
    height: 50%;
  }
  .title-font {
    bottom: 10px;
    left: 10px;
    font-size: 10.5vw;
  }
}
/*# sourceMappingURL=style.css.map */