/* Variables*/
$fontText: 'Open Sans', sans-serif;
$fontColor: #000;

$transitionStandard: 0.5s ease-in-out;

$mainGradient: linear-gradient(90deg, rgba(67,161,255,1) 0%, rgba(56,142,255,1) 38%, rgba(250,127,127,1) 100%);
$mainGradientSimple: linear-gradient(90deg,rgba(56,142,255,1) 0%, rgba(250,127,127,1) 100%);

$darkodeColor: #212121;